@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$bg: #f5f5f5;
$color: #3262ff;
$text-color: #919191;
$text-color-2: #616161;
$text-color-3: #6e6e6e;

html, body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}
s {
	position: relative;
	text-decoration: none;
  color: red;
  &:before {
    content: "";
  	position: absolute;
  	width: 100%;
  	transform: rotate(-12deg);
  }
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1920px;
  height: 100%;
  width: 100%;
  &__content {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem 0;
    h1 {
      font-size: 4.75rem;
      font-weight: 600;
      margin: 1.2rem;
      @media screen and (max-width: 768px) {
        font-size: 4rem;
      }
      @media screen and (max-width: 480px) {
        font-size: 3.5rem;
      }
      @media screen and (max-width: 320px) {
        font-size: 3rem;
      }
    }
    h2 {
      font-size: 3rem;
      font-weight: 500;
      margin: 1.2rem;
      @media screen and (max-width: 480px) {
        font-size: 2.75rem;
      }
      @media screen and (max-width: 320px) {
        font-size: 2rem;
      }
    }
    p {
      font-size: 1.375rem;
      color: $text-color;
      font-weight: 300;
      margin: 1.3rem 1rem;
      s {
        &:before {
          border-bottom: 1px solid red;
          height: 50%;
        }
      }
    }
    span {
      s {
        font-size: 2.5rem;
        &:before {
          border-bottom: 2px solid red;
          height: 75%;
        }
      }
    }
    button {
      background-color: $color;
      border-radius: 30px;
      cursor: pointer;
      font-weight: 700;
      padding: 0 60px;
      font-size: 1rem;
      height: 60px;
      margin: 1rem 0;
      color: white;
      outline: none;
      border: 0;
    }
    img {
      width: 60%;
      max-width: 1152px;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    video {
      margin: 2rem 0;
      width: 85%;
      max-width: 1920px;
    }
    &:nth-child(2n) {
      background-color: $bg;
      p {
        color: $text-color-2;
      }
    }
    &:nth-child(6) {
      span {
        font-weight: 600;
        font-size: 3.125rem;
      }
      p {
        color: $text-color;
      }
    }
    .specifications {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 16.25rem;
        margin: 1rem;
        img {
          width: 80px;
          margin: 1.563rem;
        }
        span {
          font-size: 1.125rem;
        }
        p {
          font-size: 0.875rem;
          color: $text-color-3;
        }
        @media screen and (max-width: 1167px) {
          width: 25%;
          margin: 0;
        }
        @media screen and (max-width: 768px) {
          width: 40%;
        }
        @media screen and (max-width: 320px) {
          width: 100%;
        }
      }
    }
  }
  .slider {
    width: 80%;
    height: 50%;
    overflow: hidden;
    margin-top: 5rem;
  }
  .navigation {
    display: flex;
    position: relative;
    bottom: 1.5rem;
    justify-content: center;
  }
  .bar {
    width: 30px;
    height: 8px;
    margin: 6px;
    cursor: pointer;
    background-color: #000;
    opacity: .5;
    border-radius: 10px;
    transition: all 0.4s ease;
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
  .slides {
    width: 400%;
    height: 100%;
    display: flex;
    input[name="r"] {
      position: absolute;
      display: none;
    }
    @media screen and (max-width: 600px) {
      height: 25rem;
    }
    @media screen and (max-width: 480px) {
      height: 20rem;
    }
    @media screen and (max-width: 375px) {
      height: 15rem;
    }
  }
  .slide {
    width: 25%;
    transition: all 0.6s ease;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  #r1:checked ~ .s1 {
    margin-left: 0;
  }
  #r2:checked ~ .s1 {
    margin-left: -25%;
  }
  #r3:checked ~ .s1 {
    margin-left: -50%;
  }
  #r4:checked ~ .s1 {
    margin-left: -75%;
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    max-width: 1920px;
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse !important;
      padding: 0 4rem;
    }
    @media screen and (max-width: 480px) {
      padding: 0 1rem;
    }
    &:nth-child(2n) {
      flex-direction: row-reverse;
      .wrapper__container {
        align-items: flex-start !important;
      }
    }
    .wrapper__container {
      display: flex;
      text-align: left;
      width: 50%;
      flex-direction: column;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin: 1rem 0;
      }
      &:nth-child(2n) {
        align-items: flex-end;
      }
      h3 {
        font-weight: 400;
        font-size: 1.625rem;
      }
      p {
        margin: 1rem 0;
      }
      img {
        border-radius: 5px;
      }
    }
  }
}

.modal {
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  &__items {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 30rem;
    @media screen and (max-width: 768px) {
      padding: 1rem;
    }
    p {
      font-size: 1.375rem;
      font-weight: 500;
      margin: 1rem 0;
    }
    hr {
      border-color: #88888830;
      margin-bottom: 1rem;
    }
    span {
      font-weight: 400;
      color: $text-color-2;
    }
    form {
      display: flex;
      flex-direction: column;
      input {
        background-color: #88888820;
        border-radius: 5px;
        margin: 1rem 0;
        padding: 1rem;
        outline: none;
        border: none;
      }
      .submit {
        cursor: pointer;
        font-weight: 600;
        font-size: 1rem;
        color: #ffffff;
        background-color: #000000;
      }
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
  }
  &__close {
    user-select: none;
    cursor: pointer;
    color: black;
    font-size: 2.5rem;
  }
}